$btn_color: #485460;
$heading_color: rgb(197, 30, 30);

$mobile_screen : "(max-width:767px)";
$small_screen : "(min-width:768px)";
$medium_screen : "(min-width:991px)";
$large_screen: "(min-width:1200px)";
