/* Start Request Donation Section */
.req-donation {
    background:url('../../assets/imgs/subtle-pattern-1.jpg');
    background-size:cover;
    padding:40px 0;
    .req-donation-content {
        .breadcrumb {
            text-align: left;
        }
        .volunteer {
            .vol-info {
                margin-bottom:20px;
                h4{
                    background-color:#DDD;
                    display: inline-block;
                    margin:0;
                    width:30%;
                    padding:16px;
                    text-align: center;
                    color:$btn_color;
                }
                span {
                    background-color:#EEE;
                    display: inline-block;
                    padding: 15px;
                    width: 69%;
                    font-size: 20px;
                    @media #{$mobile_screen} {
                        width:68%;
                    }
                }
            }
        }
        .main-btn {
            margin: auto;
            width: 180px;
            border-radius:3px;
            display: block;
        }
        p {
            margin:20px 0;
            font-size:16px;
        }
        iframe {
            width: 100%;
        }
    }

}

/* End Request Donation Section */